# Driving Behavior
link: https://www.kaggle.com/datasets/outofskills/driving-behavior

In [1]:
# data
import numpy as np
import pandas as pd

# visualisation
import seaborn as sns
import matplotlib.pyplot as plt

# sklearn
# preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
# pipeline
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector
# models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import ensemble
from sklearn.linear_model import LogisticRegression
# metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
# NN torch
import torch
from torch.utils.data import Dataset, DataLoader
import torch.nn as nn
import copy
import datetime as dt

In [2]:
data = pd.read_csv('archive/train_motion_data.csv')
data.head(n = 10)

,AccX,AccY,AccZ,GyroX,GyroY,GyroZ,Class,Timestamp
0,0.000000,0.000000,0.000000,0.059407,-0.174707,0.101938,NORMAL,3581629
1,-1.624864,-1.082492,-0.204183,-0.028558,0.051313,0.135536,NORMAL,3581630
2,-0.594660,-0.122410,0.220502,-0.019395,-0.029322,0.087888,NORMAL,3581630
3,0.738478,-0.228456,0.667732,0.069791,-0.029932,0.054902,NORMAL,3581631
4,0.101741,0.777568,-0.066730,0.030696,-0.003665,0.054902,NORMAL,3581631
5,0.158470,0.345891,0.355274,0.021533,0.115454,0.014584,NORMAL,3581632
6,0.078171,-0.349180,0.270652,0.034361,-0.030543,0.050625,NORMAL,3581632
7,-0.662750,-0.462775,-0.099797,0.008705,-0.009774,0.046960,NORMAL,3581633
8,0.467318,-0.234640,0.134139,-0.048717,-0.020769,-0.030009,NORMAL,3581633
9,-0.171895,-0.408894,0.414653,0.009316,0.058032,-0.019624,NORMAL,3581634

In [3]:
data.Class.unique()

array(['NORMAL', 'AGGRESSIVE', 'SLOW'], dtype=object)

In [4]:
print(data.shape)
data.iloc[0] # or data[0:1]

(3644, 8)

AccX              0.0
AccY              0.0
AccZ              0.0
GyroX        0.059407
GyroY       -0.174707
GyroZ        0.101938
Class          NORMAL
Timestamp     3581629
Name: 0, dtype: object

In [37]:
X_train = data[data.columns[0:6]]
y_train = data[data.columns[6]]

In [40]:
print(X_train.shape)
X_train.head()

(3644, 6)

       AccX      AccY      AccZ     GyroX     GyroY     GyroZ
0  0.000000  0.000000  0.000000  0.059407 -0.174707  0.101938
1 -1.624864 -1.082492 -0.204183 -0.028558  0.051313  0.135536
2 -0.594660 -0.122410  0.220502 -0.019395 -0.029322  0.087888
3  0.738478 -0.228456  0.667732  0.069791 -0.029932  0.054902
4  0.101741  0.777568 -0.066730  0.030696 -0.003665  0.054902

In [39]:
print(y_train.shape)
y_train.head()

(3644,)

0    NORMAL
1    NORMAL
2    NORMAL
3    NORMAL
4    NORMAL
Name: Class, dtype: object